/* 
==================
Variables
==================
*/

:root {
  --primaryColor: #f15025;
  --mainBlack: #222222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* 
==================
Globals
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

/* Title global */
.title {
  text-align: center;
}

/* Button global */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

/* 
==================
Navbar
==================
*/
.main-navbar {
  background: var(--darkGrey);
  padding: 0 2rem;
}

.links li {
  list-style-type: none;
}

.links a {
  color: var(--primaryColor);
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.links a:hover {
  color: var(--mainBlack);
}

@media screen and (min-width: 992px) {
  .links {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
}

/* 
==================
Hero
==================
*/
.hero {
  min-height: 100vh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-items: center;
  align-items: center;
}

.hero p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75)),
      url("../images/image-2.jpeg") center/cover no-repeat;
  }
  .hero h1 {
    font-size: 4rem;
  }
}

/* 
==================
Cards
==================
*/

/* title global style */

.cards {
  padding: 4rem 0;
}

.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  column-gap: 2rem;
}
/* 
calc the min width

max width for 3 columns = 1170px
gap = 2rem = 32px, 2 gaps at max (3 columns) = 64px
min width = (max width - (gap * columns-1)) / columns
= 368px
*/

.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-info {
  padding: 1rem;
}

.card-footer {
  background: var(--darkGrey);
  color: var(--primaryColor);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

/* 
==================
Tiles
==================
*/

/* title from global */

.tiles {
  padding: 4rem 0;
}

.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  gap: 2rem;
}

@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tiles-center img {
    height: 100%;
    object-fit: cover;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}
